In [1]:
#Operators in Python
#1. Arithmetic Operators
#2. Assignment Operators
#3. Comparison Operators
#4. Logical Operators
#5. Identity Operators
#6. Membership Ttest Operators

In [8]:
# Arithmetic Operators
a=10
b=20
print("Addition:",a+b)
print("Subtraction:",a-b)
print("Multiplication:",a*b)
print("Division:",a/b)
print("Modulus:",a%b)
print("Exponent:",a**b)
print("FLOAT Division:",a//b)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5
Modulus: 10
Exponent: 100000000000000000000
FLOAT Division: 0

In [9]:
# Assignment Operators
x=45
print("x =",x)
x+=3 # x=x+3
print(x)

x = 45
48

In [10]:
a=10
a-=3 
print(a)

7

In [6]:
# Comparison Operators
a=100
b=50
c=50
print(a>b)
print(a<c)
print(b==c)
print(a!=b)
print(a>=c)
print(a<=c)

True
False
True
True
True
False

In [ ]:
#Logical Operators- and, or, not
"and logical truth table-all conditions are true then result is true or else result is false"
""""TTT=T
TT= T
TF=F
FT=F
FF=F

OR logical truth table-if any one condition is true then result is true or else result is false
TT=T 
TF=T
FT=T
FF=F
"""
a=10
b=20
c=30
print(a<b and b<c) #True and True=True
print(a<b and b>c) #True and False=False
print(a>b and b>c) #False and False=False
print(a>b or b<c) #False or True=True
print(a<b or b>c) #True or False=True
print(a>b or b>c) #False or False=False
print(not(a<b)) #not(True)=False

In [ ]:
"""membership test operators-in, not in
in-returns true if a sequence with the specified value is present in the object"""
names=["Alice","Bob","Charlie"]
print("alice"in names) #False
print("Alice"in names) #True
print("David"not in names) #True
print("Bob"not in names) #False

In [11]:
"""Identity operators-is, is not
is-returns true if both variables are the same object"""
a=1000
b=1000
print(id(a)) 
print(id(b)) 
print(a is b)

2210067716112
2210067713264
False

In [12]:
a=10
b=10
print(id(a))
print(id(b))
print(a is b)

140725457024200
140725457024200
True